<ul class="collection">

  <li class="collection-item avatar" *ngFor="let movie of movies">
    <div class=row>
      <div class="col s1" >
        <img src="{{ movie.image }}" alt="" style="width: 40px;">
      </div >
      <div class="col s9">
        <div (click)="movieId(movie.id)"><span class="title size">{{ movie.name }} </span></div>
      </div>
      <div class="col s2">
        <span class="badge">{{ movie.rating }}</span>
        <img src="assets/images/star.png" class="star" />
      </div>
    </div>
  </li>


</ul>
