<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="card horizontal ">
  <div class="row s8">
    <div class="col s12 m7">
      <span class="header">
        <div class="movieTitle">{{ movie.name }}</div>
        <div class="bookmark">
          <a (click)="bookmark(movie)">
            <img src="/assets/images/unbookmark.png" *ngIf="!isBookmarked" class="icon" id="poster">
            <img src="/assets/images/bookmark.png" *ngIf="isBookmarked" class="icon" id="poster">
          </a>
        </div>
      </span>



    </div>
    <div class="card-image">
      <span class="star__container">
        <input type="radio" name="rating" *ngFor="let star of [1,2,3,4,5,6,7,8,9,10]" value="star" id="star-{{star}}" class="star__radio visuhide">


        <label class="star__item" *ngFor="let label of [1,2,3,4,5,6,7,8,9,10]" for="star-{{label}}" (click)='onClick(movie.id,label)'><span class="visuhide">{{label}}
            star</span></label>
        
      </span>

      <img src="{{ movie.image}}" class="imageSize">
      

    </div>
    <div class="card-content">
      <p class="detail" align="justify"> The film starts off by showing the reality of Indian Education System
        and how children are pressurized by their parents to become a doctor or an engineer.
        The scene cuts off to Kota, where a boy named Satyendra Dubey (Sattu) lives in a rented
        house and is doing his coaching to crack the engineering entrance exam. After his coaching,
        he returns back to his house in Jaunpur, Uttar Pradesh where he lives with his parents,
        elder sister Nupur Dubey, and grandmother. The day of the entrance exam comes and Sattu
        writes his paper well. When the results are out, Sattu ranks 287. While at a theater,
        Sattu and his friends are told to move to the lower seats by some corrupt politicians
        but when Rakesh Singh is asked to do the same, he refuses, fights with the goons and
        gets them arrested by the Police. Rakesh visits Sattu's house and takes him to a tea
        stall where he gives his contact number to him. The next day, Sattu calls him at a restaurant
        and Rakesh gives him an offer. If he gives the exams of some rich candidates
        who want admissions in colleges, he will be rewarded ₹50,000 per student.
        Sattu agrees and starts taking exams, earning a lot of money for his family.
        Whenever he goes for higher-level exams to places like Kolkata and Mumbai,
        he has sex with prostitutes.Meanwhile, Rakesh goes to his house where his sister is getting married,
        and it is revealed that Rakesh is married. Sattu is later rusticated from his college because
        he was caught with drugs, he is arrested and still addicted to drugs. After he recovers,
        Rakesh hands him the latter's degree certificate and asks him to go to Qatar for work.
        After a few years, Rakesh reunites with Sattu's elder sister Nupur Dubey.
        They spend a good time until a twist takes place in their lives. One day, Nupur tells him that
        she wants to do an MBA in order to get promoted to a higher post. Rakesh gets the MBA.
        paper solved by some of his students and calls Nupur to her office's parking area.
        When Rakesh reaches there and tells Nupur that he has got the paper leaked, camera flashes on his face,
        all the vehicles headlights turn on and the police inspector arrests him for leaking the paper.
        The movie goes into a flashback showing that Sattu is fired off from his job as his degree was just a
        Photoshop certificate with just his name (created by Rakesh to get him out of the exams and rustication load).
        Sattu commits suicide. The scene returns to the present time showing that Nupur had taken revenge for
        her brothers suicide. After being bailed from jail, Rakesh builds an engineering college on his fathers name
        which runs successfully.</p>
    </div>

  </div>
</div>