.imageSize {
  width: 160px;
  height: 240px;
}

.icon {
  height: 45px;
}

.detail {
  margin: 40px;
  font-family: sans-serif;
  font-size: 20px;
}
.card .card-image img {
  left: 25px;
  top: 15px;
  margin-bottom: 10px;
}

.card .card-content p {
  margin-top: 40px;
}

.bookMarkIcon {
  background: blue;
}

.header {
  font-family: serif;
  font-size: 40px;
  color: #ee6e73;
}

.bookmark {
  margin-top: -50px;
}
.card.horizontal {
  width: 60%;
}
.movieTitle {
  margin-left: 50px;
}

.star {
  font-size: 1.5rem;
  color: #b0c4de;
}


.filled {
  color: #1e90ff;
}
.bad {
  color: #deb0b0;
}
.filled.bad {
  color: #ff1e1e;
}

.visuhide {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.star__container:hover .star__item,
.star__radio:checked ~ .star__item {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.star__container:not(:hover) > .star__radio:nth-of-type(1):checked ~ .star__item:nth-of-type(1) ~ .star__item,
.star__container:not(:hover) > .star__radio:nth-of-type(2):checked ~ .star__item:nth-of-type(2) ~ .star__item,
.star__container:not(:hover) > .star__radio:nth-of-type(3):checked ~ .star__item:nth-of-type(3) ~ .star__item,
.star__container:not(:hover) > .star__radio:nth-of-type(4):checked ~ .star__item:nth-of-type(4) ~ .star__item,
.star__container:not(:hover) > .star__radio:nth-of-type(5):checked ~ .star__item:nth-of-type(5) ~ .star__item,
.star__item,
.star__item:hover ~ .star__item,
.star__item,
.star__container:not(:hover) > .star__radio:nth-of-type(6):checked ~ .star__item:nth-of-type(6) ~ .star__item,
.star__item,
.star__container:not(:hover) > .star__radio:nth-of-type(7):checked ~ .star__item:nth-of-type(7) ~ .star__item,
.star__item,
.star__container:not(:hover) > .star__radio:nth-of-type(8):checked ~ .star__item:nth-of-type(8) ~ .star__item,
.star__item,
.star__container:not(:hover) > .star__radio:nth-of-type(9):checked ~ .star__item:nth-of-type(9) ~ .star__item,
.star__item,
.star__container:not(:hover) > .star__radio:nth-of-type(10):checked ~ .star__item:nth-of-type(10) ~ .star__item {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.star__radio:nth-of-type(1):checked ~ .star__item:nth-of-type(1)::before {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition-timing-function: cubic-bezier(0.5, 1.5, 0.25, 1);
}
.star__radio:nth-of-type(2):checked ~ .star__item:nth-of-type(2)::before {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition-timing-function: cubic-bezier(0.5, 1.5, 0.25, 1);
}
.star__radio:nth-of-type(3):checked ~ .star__item:nth-of-type(3)::before {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition-timing-function: cubic-bezier(0.5, 1.5, 0.25, 1);
}
.star__radio:nth-of-type(4):checked ~ .star__item:nth-of-type(4)::before {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition-timing-function: cubic-bezier(0.5, 1.5, 0.25, 1);
}
.star__radio:nth-of-type(5):checked ~ .star__item:nth-of-type(5)::before {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition-timing-function: cubic-bezier(0.5, 1.5, 0.25, 1);
}
.star__radio:nth-of-type(6):checked ~ .star__item:nth-of-type(6)::before {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition-timing-function: cubic-bezier(0.5, 1.5, 0.25, 1);
}
.star__radio:nth-of-type(7):checked ~ .star__item:nth-of-type(7)::before {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition-timing-function: cubic-bezier(0.5, 1.5, 0.25, 1);
}
.star__radio:nth-of-type(8):checked ~ .star__item:nth-of-type(8)::before {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition-timing-function: cubic-bezier(0.5, 1.5, 0.25, 1);
}
.star__radio:nth-of-type(9):checked ~ .star__item:nth-of-type(9)::before {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition-timing-function: cubic-bezier(0.5, 1.5, 0.25, 1);
}
.star__radio:nth-of-type(10):checked ~ .star__item:nth-of-type(10)::before {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition-timing-function: cubic-bezier(0.5, 1.5, 0.25, 1);
}
.star__container {
  display: flex;

  border-radius: 0.25em;
  background-color: #ee6e73;
  box-shadow: 0 0.25em 1em rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease;
  width: auto;
  height: 39px;
  max-width: 57%;
  margin-top: 40px;
  margin-bottom: -15px;
}
.star__container:focus-within {
  box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.5);
}
.star__item {
  display: inline-flex;
  width: 1.25em;
  height: 1.5em;
  margin: 5px;
}
.star__item::before {
  content: "⭐️";
  display: inline-block;
  margin: auto;
  font-size: 1.5em;
  vertical-align: top;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 50% 33.3%;
  transform-origin: 50% 33.3%;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
