<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo"><i class="material-icons">movie</i>Movie</a>
    <ul class="right hide-on-med-and-down">
      <li>
        <div class="center row">
          <div class="col s12 ">
            <div class="row" id="topbarsearch">
              <div class="input-field col s6 s12 red-text">

                <input type="text" placeholder="search" class="autocomplete red-text" [(ngModel)]="searchMovieName"
                  (input)="getSearchResult()"/>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li><button class="searchBtn"><i class="material-icons">search</i></button></li>
      <li><a routerLink = "book-mark-movies"><i class="material-icons">bookmark</i></a></li>
    </ul>
  </div>
</nav>






<div class="row">
  <div class="col s8">
    <ul class="collection">

      <li class="collection-item avatar" *ngFor="let movie of movies">
        <div class=row>
          <div class="col s1">
            <img src="{{ movie.image }}" alt="" class="images">
          </div>
          <div class="col s9 movieNameGrid">
            <div (click)="movieId(movie.id)"><span class="title size">{{ movie.name }} </span></div>
          </div>
          <div class="col s2 ratingGrid">
            <div class="row">
                <div class="col s6 push-s6"><img src="assets/images/star.png" class="star"/></div>
                <div class="col s6 pull-s6"><span class="rating">{{ movie.rating }}</span></div>
            </div>
            
            
          </div>
        </div>
      </li>


    </ul>
  </div>
  <div class="col s4">
    <div class="row">
      <div class="col s12 m7 trendingCard">
        <div class="card row ">
          <div class="card-image" *ngFor = "let trendingMovie of trendingMovie">
            <img src="{{ trendingMovie.image }}">
            <span class="card-title">Today's tranding movie</span>
          </div>
          <div class="card-content" *ngFor = "let trendingMovie of trendingMovie">
            <p>{{ trendingMovie.name }}</p>
          </div>
          <div class="card-action">
            <a href="#">View More</a>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>