.size {
  height: 20px;
  width: 20px;
  text-align: right;
  margin: 5px;
  font-size: 20px;
}

.circle {
  border-radius: 0%;
}
.title {
  text-align: left;
  vertical-align: -webkit-baseline-middle;
}

.th {
  text-align: right;
}
.rating {
  text-align: right;
  font-size: 17px;
  margin-right: 5px;
  line-height: 1.3;
}
.row {
  vertical-align: right;
  margin-bottom: -4px;
}

.searchBtn {
  background: transparent;
  border: 0px;
  color: white;
}

.trendingCard {
  right: 450px;
}

.collection .collection-item.avatar{
  padding-left: 15px;
}

.images{
  width: 50px;
  height: 60px;
}

.star{
  width:15px;
  height: 15px;
}

.ratingGrid{
  padding-left: 89px;
  line-height: 4;
}

.collection .collection-item.avatar .title {
  font-size: 20px;
}

.movieNameGrid{
  line-height: 2.7;
}

nav .brand-logo i.material-icons {
  float: left;
  margin-right: 15px;
  margin-left: 30px;
  font-size: 50px;
}